@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.header_main_active {
  background-color: #052f61;
  transition: 1s;
}

.header_main {
  position: fixed;
  left: 0;
  padding: 0 6%;
  right: 0;
  margin: 0 auto;
  z-index: 100;
  transition: 1s;
  .header_content {
    height: 91px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    .header_navbar {
      display: flex;
      gap: 40px;
      li {
        list-style: none;
        .nav_link{
          text-decoration: none;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-weight: 300;
          font-size: 17px;
          line-height: 160%;
          color: #d1dae9;
          transition: 0.1s;
        }
        .nav_link:hover {
          text-shadow: 1px 1px 2px rgb(6, 2, 2);
        }
      }
    }
  }
  .header_logo {
    width: 130px;
    height: 90px;
  }
  
  .header_btn_burger {
    display: flex;
    align-items: center;
    .header_btn {
      margin-right: 65px;
      text-align: left;
      height: 38px;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 330;
      font-size: 16px;
      line-height: 14px;
      text-transform: uppercase;
      border: 1.5px solid #d0a666;
      background: transparent;
      border-radius: 50px;
      padding: 0 34px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: #d0a666;
        text-shadow: 1px 1px 2px rgb(6, 2, 2);
      }
    }
    
    .nav_icon {
      width: 32px;
      height: 24px;
      position: relative;
      transition: 0.5s ease-in-out;
      cursor: pointer;
    }

    .nav_icon span {
      display: block;
      position: absolute;
      height: 2px;
      width: 23px;
      background: #fff;
      border-radius: 5px;
      transform: rotate(0deg);
      transition: all 0.3s ease;
    }

    .nav_icon span:nth-child(1) {
      top: 0px;
      left: 30%;
    }

    .nav_icon span:nth-child(2) {
      top: 8px;
      left: -5px;
      width: 20px;
    }

    .nav_icon span:nth-child(3) {
      top: 16px;
      width: 18px;
      left: 5px;
    }

    .nav_icon:hover span:nth-child(1) {
      left: 0px;
      transition: all 0.4s ease;
    }
    .nav_icon:hover span:nth-child(2) {
      left: 0px;
      transition: all 0.3s ease;
    }

    .nav_icon:hover span:nth-child(3) {
      left: 0px;
      transition: all 0.3s ease;
    }
    .burger_menu span {
      opacity: 1;
      transition: all 0.3s ease;
    }
  }
}

@media screen and (max-width: 1220px) {
  .header_main {
    .header_content {
      .header_navbar {
        gap: 20px;
      }
      .header_btn_burger {
        .header_btn {
          margin-right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .header_main {
    .header_content {
      .header_navbar {
        display: none;
      }
      .header_btn_burger {
        .header_btn {
          margin-right: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header_main {
    padding: 0 5%;
    .header_content {
      .header_btn_burger {
        .header_btn {
          font-size: 11px !important;
          padding: 10px !important;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .header_logo{
    width: 90px !important;
  }
  .header_main {
    padding: 0 5%;
    .header_content {
      .header_btn_burger {
        .header_btn {
          font-size: 10px !important;
          padding: 6px !important;
          text-align: center;
        }
      }
    }
  }
}
