@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.news_main {
  min-height: 100vh;
  background: #062d62;
  padding: 100px 0;
  font-family: "Montserrat", sans-serif !important;
  .title {
    h1 {
      font-size: clamp(30px, 12vw, 70px);
      line-height: 110%;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif !important;
      font-weight: 100;
      color: white;
      padding: 60px 0 60px 0;
      text-align: center;
      hr {
        border: 2px solid #d0a666;
        width: 20%;
        margin: 20px auto;
      }
    }
  }
}
.slide_content {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
  height: 400px;
  text-align: center;
  transition: 1s;
  p {
    font-size: 16px;
    width: 60%;
    margin: 0 auto;
  }
  h2 {
    color: #fbdbac;
  }
  button {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #c3862b;
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0 auto;
    transition: 1s;
  }
  button:hover {
    background-color: white;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #c3862b;
  }
}


@media screen and (min-width: 0px) and (max-width: 360px)  {
  .slide_content {
    height: 100vh;
    p{
      font-size: 13px;
      width: 100%;
    }
}
}


@media screen and (min-width: 361px) and (max-width: 650px) {
  .slide_content {
    height: 90vh;
    p{
      font-size: 15px;
      width: 100%;
    }
  }
}
