.news_main{
    min-height: 100vh;
    background: -webkit-linear-gradient(45deg, rgb(68, 62, 123), rgb(115, 85, 129), rgb(202, 133, 86), rgb(240, 182, 82));
    padding: 100px 0;
    .title{
        text-align: center;
        font-size: 48px;
        padding-bottom: 60px;
        font-family: "SangBleu Empire Trial", sans-serif !important;
    }
}