@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.birdVideo{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 90px;
    margin-top: 70px;
    padding: 0 20px 0 20px;
    text-align: center;
    h2{
        font-size: clamp(30px, 12vw, 70px);
        line-height: 110%;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif !important;
        font-weight: 100;
        color: #2e2e2e;
        padding: 60px 0 60px 0;
    }
    hr{
        border: 2px solid #d0a666;
        width: 40%;
        margin: 20px auto;
    }
} 