@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.sidenav {
  width: 100%;
  background: rgb(19, 32, 51);
  position: fixed;
  height: 100%;
  left: -100%;
  padding: 0 30px;
  border-radius: 0;
  top: 0rem;
  z-index: 1000;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.sidenav.active {
  left: 0;
  transition-duration: all 1s ease-in-out;
}

.sidenav > ul {
  margin-top: 7rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidenav > ul > li > a {
  position: relative;
  display: block;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 85px;
  color: #d1dae9;
  padding: 10px;

  @media (width <= 425px) {
    font-size: 1.5rem;
    line-height: 100px;
  }

  @media (width <= 375px) {
    font-size: 1.3rem;
    line-height: 85px;
  }
}

.sidenav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #c8b552;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: 0.4s linear;
}

.sidenav a:hover:before,
.sidenav a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.circle {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 112px;
  width: 6vw;
  min-width: 60px;
  aspect-ratio: 1;
  border: 1px solid #d0a666 !important;
  box-sizing: border-box;
  border-radius: 50%;
}
