.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  height: 100vh;
  background-color: #191d23;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s ease;
  animation: fadeOut 0.5s ease forwards;
  span {
    white-space: pre-wrap;
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
.lol{
    display: none;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .loader{
    font-size: 30px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .loader{
    font-size: 40px;
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  .loader{
    font-size: 60px;
  }
}

@media screen and (min-width: 801px) and (max-width: 990px) {
  .loader{
    font-size: 80px;
  }
}