// .loaders {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 10000000000;
//   height: 100vh;
//   width: 100%;
//   background-color: #191d23;
//   font-size: 100px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   transition: opacity 0.5s ease;
// //   animation: fadeOut 10s ease forwards;
//   opacity: 1;
//   span {
//     white-space: pre-wrap;
//   }
// }

// .loader.visible {
//   opacity: 1;
// }

// .loader.hidden {
//   opacity: 0;
// }

// .hide-loader {
//   opacity: 0;
//   pointer-events: none;
// }
// .loader-spinner {
//   width: 40px;
//   height: 40px;
//   border: 4px solid rgba(0, 0, 0, 0.1);
//   border-left-color: #09f;
//   border-radius: 50%;
//   animation: loader-spin 1s linear infinite;
// }
// @keyframes fadeOut {
//   1% {
//     opacity: 1;
//   }
//   100% {
//     opacity: 0;
//     display: none;
//   }
// }

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  background-color: #191d23;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1.5s ease;
  animation: fadeOut 0.5s ease forwards;
  span {
    white-space: pre-wrap;
  }
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
.lol{
    display: none;
}
