@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.cards_main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
  font-weight: 100;
  font-family: "Montserrat", sans-serif !important;
  padding: 0 !important;
}
.cards_title {
  text-align: center;
  font-size: 40px;
  margin-top: 100px;
  h2 {
    text-transform: uppercase;
    font-weight: 100;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif !important;
    hr {
      border: 2px solid #d0a666;
      width: 20%;
      margin: 20px auto 0 auto;
    }
  }
}

@media screen and (min-width: 0) and (max-width: 600px) {
  .cards_main {
    grid-template-columns: 1fr;
  }
  .cards_title {
    font-size: 23px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1175px) {
  .cards_main {
    grid-template-columns: 1fr 1fr;
  }
}

