@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.events {
  max-width: 60%;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  h1 {
    font-size: clamp(30px, 12vw, 70px);
    line-height: 110%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
    color: #2e2e2e;
    padding: 60px 0 60px 0;
    text-align: center;
    hr{
      border: 2px solid #d0a666;
        width: 50%;
        margin: 40px auto 0 auto;
    }
  }
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    position: absolute;
    z-index: 10;
  }
}

@media screen and (max-width: 768px) {
  .events {
    max-width: 90%;
    h1 {
      font-size: clamp(30px, 12vw, 40px);
    }
  }
}

@media screen and (max-width: 425px) {
  .events {
    max-width: 90%;
    h1 {
      font-size: clamp(30px, 12vw, 20px);
    }
  }
}
