.Memories {
  background-color: #062d62;
  padding-bottom: 45px;
  padding-left: 50px;
  padding-right: 50px;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-top: 90px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  text-align: center;
  .mem {
    .left {
      h1 {
        font-size: clamp(30px, 12vw, 53px);
        line-height: 110%;
        text-transform: uppercase;
        font-family: "SangBleu Empire Trial";
        font-weight: 100;
        color: #fff;
      }
      margin-bottom: 40px;
    }
    .right {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      p {
        font-family: "Ubuntu";
        font-style: normal;
        font-weight: 300;
        font-size: 17px;
        line-height: 180%;
        color: #fff;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 90%;
    .mem {
      .left {
        h1 {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .container {
    max-width: 90%;
    padding-top: 0;
    .mem {
      gap: 20px;
      .left {
        h1 {
          font-size: 30px;
        }
      }
      .right {
        p {
          font-size: 17px;
        }
      }
    }
  }
}
