@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.hero {
  height: 100vh;
  background-color: #062d62;
  .container {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    button {
      width: 200px;
      height: 60px;
      border-radius: 10px;
      border: none;
      background-color: #c3862b;
      font-weight: 700;
      cursor: pointer;
      margin: 0 auto;
      transition: 0.5s;
      font-size: 20px;
      a {
        color: white;
        text-decoration: none;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
    button:hover {
      background-color: white;
      a{
        color: #c3862b;
      }
    }
  }
  .hero_content {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 550px) {
  .container {
    width: 100% !important;
    padding: 0 20px 0 20px !important;
    button {
      margin-top: 40px !important;
    }
  }
  .hero_content {
    height: 60% !important;
    width: 180% !important;
  }

}

@media screen and (min-width: 551px) and (max-width: 900px) {
  .container {
    width: 100% !important;
    padding: 0 20px 0 20px !important;
    button {
      margin-top: 40px !important;
    }
  }
  .hero_content {
    height: 60% !important;
    width: 140% !important;
  }
}
