@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.hero {
  height: 100vh;
  background-color: #062d62;
  .hero_content{
    height: 100vh;
    display: flex;
    .content_left{
      width: 40%;
      padding-top: 50px;
      img{
        object-fit: contain;
        width: 170%;
        height: 100%;
      }
    }
    .content_right {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      hr{
        border: 2px solid #d0a666;
        width: 70%;
        margin: 20px auto 0 auto;
      }
      p {
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: #ffffff;
        font-family: Forum;
        padding-top: 9%;
        text-align: center;
        width: 100%;
      }
      h2 {
        font-size: 90px;
        line-height: 110%;
        text-transform: uppercase;
        font-weight: 100;
        color: #ffffff;
        text-align: center;
        width: 100%;
        font-family: 'Montserrat', sans-serif !important;
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .hero_content{
    align-items: center;
    justify-content: center;
    .content_left{
      display: none !important;
    }
    .content_right{
      h2{
        font-size: 50px !important;
      }
      p{
        font-size: 25px !important;
        padding-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
  .hero_content{
    align-items: center;
    justify-content: center;
    .content_left{
      display: none !important;
      img{
        width: 160%;
      }
    }
    .content_right{
      h2{
        font-size: 60px !important;
      }
      p{
        font-size: 30px !important;
        padding-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 501px) and (max-width: 999px) {
  .hero_content{
    align-items: center;
    justify-content: center;
    .content_left{
      display: none !important;
    }
  }
}

@media screen and (min-width: 754px) and (max-width: 1000px) {
  .hero_content{
    align-items: center;
    justify-content: center;
    .content_left{
      img{
        width: 160%;
      }
    }
    .content_right{
      h2{
        font-size: 80px !important;
      }
      p{
        font-size: 30px !important;
        padding-top: 20px;
        width: 50% !important;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (min-width: 1001px) and (max-width: 1330px) {
  .hero_content{
    align-items: center;
    justify-content: center;
    .content_left{
      img{
        width: 145% !important;
      }
    }
  }}