* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  transition: 1s;
}

.container{
  width: 90%;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
.ant-select-selector {
  border: none  !important;
  border-bottom: 1.5px solid #d0a666 !important;
  /* margin-top: 40px !important; */
  text-align: center;
  font-family: "Ubuntu" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 20px !important;
  color: gray !important;
}
::-webkit-scrollbar {
  display: none;
}

.ant-btn{
  display: none;
}